:root {
  --white: #ddd;
  --roboto: "Roboto", sans-serif;
  --title-font: "Press Start 2P", cursive;
  --blue: #314158;
  --deep-blue: #111720;
  --light-blue: #475466;
  --hover-blue: #596980;
  --click-blue: #768ba8;
  --yellow: #fac650;
  --red: #db3f59;
}

/*==========
    GLOBAL
==========*/

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.p-x {
  padding-inline: 1rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--white);
}

/*============
  TYPOGRAPHY
============*/

body {
  font-family: var(--roboto);
  color: var(--yellow);
  background-color: var(--blue);
}

.header {
  font-family: var(--title-font);
  background-color: var(--red);
  color: var(--white);
}

.title {
  text-align: center;
  line-height: 1.4;
}

.main h2,
.main h3 {
  text-align: center;
}

.emoji {
  font-size: 3rem;
}

.score {
  font-size: 1.1rem;
}

.cards .emoji {
  background-color: var(--light-blue);
}

.cards .emoji:hover {
  background-color: var(--hover-blue);
}

.cards .emoji:active {
  background-color: var(--click-blue);
}

.footer {
  font-size: 1.1rem;
  text-align: center;
}

.fa-github {
  font-size: 1.4rem;
}

#modal {
  background-color: var(--deep-blue);
  color: inherit;
  text-align: center;
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

#result {
  font-size: 2.5rem;
  font-weight: bold;
}

#again {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--blue);
  color: var(--white);
}

#again:hover {
  background-color: var(--hover-blue);
}

#again:active {
  background-color: var(--click-blue);
}

/*==========
  SPECIFIC
==========*/
/* +-- HEADER --+  */

.header {
  padding-block: 2rem;
}

.header .container {
  max-width: 300px;
  margin-inline: auto;
}

/* +-- MAIN --+  */

.main {
  padding-block: 2rem;
}

.main h2 {
  margin-bottom: 1rem;
}

/* +-- CHOICES --+  */

.choices {
  margin-top: 2.5rem;
  max-width: 250px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

#player-choice,
#computer-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* +-- CARDS --+  */

.cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.cards .emoji {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 18px;
}

/* +-- FOOTER --+  */

.footer {
  margin-top: auto;
  align-self: center;
  padding-bottom: 0.5rem;
}

.fa-github {
  margin-left: 1rem;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* +-- MODAL --+  */

#modal {
  user-select: none;
  padding: 0;
  border: none;
  border-radius: 15px;
}

#modal[open] {
  animation: fade-in 500ms forwards;
}

#modal[open]::backdrop {
  animation: fade-in 500ms forwards;
}

#modal[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-in 500ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.modal {
  padding: 2rem 3rem;
}

#result {
  margin-bottom: 2rem;
}

#again {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
}
/*==============
  MEDIA QUERIES
==============*/
@media (min-width: 425px) {
  .title {
    font-size: 2.5rem;
  }

  .main h2 {
    font-size: 2rem;
  }

  .main h3 {
    font-size: 1.3rem;
  }

  .choices {
    max-width: 300px;
  }

  .emoji {
    font-size: 5rem;
  }

  .score {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .cards .emoji {
    height: 160px;
    width: 160px;
  }

  .modal {
    min-width: 300px;
  }
}

@media (min-width: 795px) {
  .header .container {
    max-width: none;
  }

  .container {
    max-width: 980px;
    margin-inline: auto;
  }

  .cards {
    gap: 2rem;
  }
}
